PL/Connected Services/CountryServiceReference/CountryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BLL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54315/Services/CountryService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CountryBll">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryBll" nillable="true" type="tns:CountryBll" />
  <xs:complexType name="ArrayOfCountryBll">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryBll" nillable="true" type="tns:CountryBll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryBll" nillable="true" type="tns:ArrayOfCountryBll" />
</xs:schema>