PL.Console/Connected Services/CoffeeServiceReference/CoffeeService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/BLL.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54315/Services/CoffeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfCoffeeBll">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CoffeeBll" nillable="true" type="tns:CoffeeBll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCoffeeBll" nillable="true" type="tns:ArrayOfCoffeeBll" />
  <xs:complexType name="CoffeeBll">
    <xs:sequence>
      <xs:element minOccurs="0" name="CoffeeSort" type="tns:CoffeeSortBll" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="MadeFromCountry" nillable="true" type="tns:CountryBll" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceFor100Gr" type="xs:decimal" />
      <xs:element minOccurs="0" name="QualityId" type="tns:QualityBll" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoffeeBll" nillable="true" type="tns:CoffeeBll" />
  <xs:simpleType name="CoffeeSortBll">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Arabica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Robusta">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Liberica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CoffeeSortBll" nillable="true" type="tns:CoffeeSortBll" />
  <xs:complexType name="CountryBll">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryBll" nillable="true" type="tns:CountryBll" />
  <xs:simpleType name="QualityBll">
    <xs:restriction base="xs:string">
      <xs:enumeration value="High">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Medium">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Low">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="QualityBll" nillable="true" type="tns:QualityBll" />
</xs:schema>